.playlist-card{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #243240;
}
.playlist-detail{
    margin-right: 2rem;
    margin-bottom: 2rem;
    color:white
}
.playlist-card-button{
    width:100%;
    margin:0;
    color:black;
    background-color: yellow;
    font-size:large
}